@model DTOLayer.DTOs.LoginDTO

<form asp-action="signup" method="post">
    <input asp-for="Username" type="text" />
    <input asp-for="Password" type="password" />
    <button >Kaydol</button>
</form>
