<form id="filter-form">
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Filtrele</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <h6>Kategori</h6>
            @await Component.InvokeAsync("KategorileriGetirComponent", new { forFilter = true })
        </div>
        <hr />
        <div class="form-group">
            <h6>Ücret</h6>
            <div class="d-flex justify-content-center">
                <div style="width: 48%;">
                    <label>Minimum Ücret</label>
                    <input class="form-control" name="UcretFilter" placeholder="min" type="number">
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <h6>Cinsiyet</h6>
            <input type="radio" class="form-check-input" name="CinsiyetFilter" value="bay">
            <label>Bay</label>
            <input type="radio" class="form-check-input" name="CinsiyetFilter" value="bayan" style="margin-left: 15px;">
            <label>Bayan</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Filtreyi Uygula</button>
    </div>
</form>