/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FAF7F0;
}

.card {
    width: 95vw;
}

@media (min-width: 1024px){
    .card{
        width:40vw;
    }
}*/


html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}



body {
    margin-bottom: 60px;
    background-color: #FAF7F0;
}

.card {
    width: 95vw;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}



.modal-body .form-group {
    margin-bottom: 10px;
}

.modal-body h6 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.modal-body input[type="checkbox"],
.modal-body input[type="radio"] {
    margin-right: 5px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.btn-outline-primary {
    padding: 10px 20px;
    border-radius: 8px;
}

.btn-primary {
    padding: 8px 16px;
    border-radius: 8px;
}

@media (min-width: 1024px) {
    .card {
        width: 40vw;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}